@{
    ViewData["Title"] = "About the developers";
}
<div class="text-center m-5 p-3">
    <h2 class="display-4 text-primary fw-bold">@ViewData["Title"]</h2>
    <p>mazna ateesh</p>
    <p>mazna ateesh2</p>
</div>