@using Eventmi.Web.ViewModels.Event;
@model EventViewModel

<form asp-controller="Event" asp-action="AddEvent" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Event name</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="input-group date">
        <label asp-for="StartDate" class="form-label">Start date</label>
        <input asp-for="StartDate" type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <div class="input-group date">
        <label asp-for="EndDate" class="form-label">End Date</label>
        <input asp-for="EndDate" type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Place" class="form-label">Place</label>
        <input asp-for="Place" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Category" class="form-label">Category</label>
        <input asp-for="Category" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>